{% extends "::layout_interne.html.twig" %}

{% block body %}
<section class="ct-u-paddingTop60 ct-u-paddingBottom90">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <div class="col-md-7 text-center">
                    <div class="ct-textBox ct-u-backgroundGrey">
<h3>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</h3>
                    </div></div></div></div></div></section>
{% endblock body %}
